body {
    background-image: url("./assets/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}